.solyazi{
  
    text-align: left;
    margin: 146px;
}
.sagsekil img{
    width: 634px;
    height: 507px;
}
.solyazi div h2{
    font-weight: 500;
    line-height: 1.2;
    font-size: 2rem;
    margin-bottom: 1.5rem !important;
}
.solyazi div  p{
    line-height: 1.7;
    color: gray;
    font-weight: 300;
    font-size: 1.1rem;
    margin-bottom: 1.5rem !important;
}
.excellent2 div {
    color: #7971ea;

}
.excellent2 div span{
    text-align: center;
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #7971ea;
    color: white;
    margin-right: 20px;
    margin-bottom: 15px;
}